body {
  background: url('../images/textile.png');
}

/** Navigation styles **/
nav ul a {
  color: #000;
}

nav .brand-logo {
  font-size: 1.5em;
  left: 15px;
  color: #000;
}

.nav-wrapper {
  background: #fff;
}

nav .button-collapse i {
  color: #000;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    transform: none;
    margin-left: 35px;
  }
}

/** Main content styles **/
h1 {
  font-size: 3em;
  font-weight: 200;
}

h2 {
  font-size: 2.5em;
}
.container .row {
  margin: 40px 0;
}
.row .col {
  padding: 15px 0 0;
}

/** Home **/
.border-light-red {
  border-bottom: 3px solid #e74c3c;
}

/** Promotion **/
.promotion {
  padding: 0 10px 20px;
  line-height: 2em;
}
.promotion i {
  font-size: 7em;
  color: #1EC063;
}

.promotion-caption {
  font-size: 1.5em;
  font-weight: 600;
}

.border-light-green {
  border-bottom: 3px solid #1EC063;
}

/** About us **/
.row .content {
  font-size: 16px;
  padding: 10px 20px 30px;
  line-height: 2em;
}

.shadow {
  box-shadow: 1px 1px 6px #ccc;
}

.dark {
  font-weight: 500;
}

.border-light-blue {
  border-bottom: 3px solid #2B8AF4;
}