body {
  background: url('../images/fabric.png');
}

/** Navigation styles **/
nav ul a {
  color: #000;
}

nav .brand-logo {
  font-size: 1.5em;
  left: 15px;
  color: #000;
}

.nav-wrapper {
  background: #fff;
}

nav .button-collapse i {
  color: #000;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    transform: none;
    margin-left: 35px;
  }
}

/** Grid styles **/
.container {
  width: 100%;
  max-width: 100%;
}

.container .row {
  margin: 50px 0;
}

.container .row:first-of-type {
  margin: 0;
}

.row .col {
  padding: 15px 0 0;
}

/** Landing **/
#landing {
  background: #2B8AF4;
  padding-bottom: 50px;
}

.landing-phrase {
  font-size: 3em;
  font-weight: 600;
}

.landing-sub-phrase {
  font-size: 1.5em;
  font-weight: 300;
}

.buttons {
  margin-bottom: 40px;
}

.buy-btn, .check-out-btn {
  height: 45px;
  border-radius: 25px;
}
.buy-btn, .buy-btn:hover, .buy-btn:focus {
  background: #D3750B;
}

.check-out-btn {
  background: #fff;
  color: #D3750B;
  margin-left: 15px;
}
.check-out-btn:hover, .check-out-btn:focus {
  background: #D3750B;
  color: #fff;
}

h2 {
  font-size: 2.5em;
}

/** Home **/
.home {
  background: #fff;
}
.home p:first-child::first-letter {
  font-size: 2em;
}

/** Promotion **/
#promo {
  background: #ff1510;
  padding: 40px 0;
}

.promotion {
  padding: 0 10px 20px;
  line-height: 2em;
}
.promotion i {
  font-size: 7em;
}

.promotion-caption {
  font-size: 1.5em;
  font-weight: 600;
}

.border-light-green {
  border-bottom: 3px solid #1EC063;
}

/** About us **/
.row .content {
  font-size: 16px;
  padding: 10px 20px 30px;
  line-height: 2em;
}

.shadow {
  box-shadow: 1px 1px 6px #ccc;
}

.dark {
  font-weight: 500;
}

.border-light-blue {
  border-bottom: 3px solid #2B8AF4;
}